# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
import pandas as pd

import numpy as np

import re

#### Import data set.

Import data set `Pokemon` from Ironhack's database. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
poke = pd.read_csv(r"C:\Users\hp\Documents\M1\lab_df_calculations-main\lab_df_calculations-main\your-code\pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [3]:
poke.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [4]:
# Con el objetivo de que estén en minúsculas, sin espacios en blanco y sin puntos
poke.columns = [e.replace(' ', '_').replace('.', '').lower() for e in poke.columns]

poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [5]:
poke.type_1.unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [6]:
poke.type_2.unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [7]:
poke.type_1.unique().tolist()

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [8]:
list(poke.type_1.unique())

['Grass',
 'Fire',
 'Water',
 'Bug',
 'Normal',
 'Poison',
 'Electric',
 'Ground',
 'Fairy',
 'Fighting',
 'Psychic',
 'Rock',
 'Ghost',
 'Ice',
 'Dragon',
 'Dark',
 'Steel',
 'Flying']

In [9]:
list(set(poke.type_1.unique().tolist() + poke.type_2.unique().tolist()))

['Dark',
 'Ground',
 'Dragon',
 'Fighting',
 'Flying',
 'Electric',
 'Ice',
 'Normal',
 'Fairy',
 'Psychic',
 'Poison',
 'Grass',
 'Water',
 nan,
 'Rock',
 'Bug',
 'Ghost',
 'Fire',
 'Steel']

In [10]:
#Convertirlo en array numpy
np.array(list(set(poke.type_1.unique().tolist() + poke.type_2.unique().tolist())))

array(['Dark', 'Ground', 'Dragon', 'Fighting', 'Flying', 'Electric',
       'Ice', 'Normal', 'Fairy', 'Psychic', 'Poison', 'Grass', 'Water',
       'nan', 'Rock', 'Bug', 'Ghost', 'Fire', 'Steel'], dtype='<U32')

In [11]:
poke_unicos = list(set(poke.type_1.unique().tolist() + poke.type_2.unique().tolist()))
poke_unicos

['Dark',
 'Ground',
 'Dragon',
 'Fighting',
 'Flying',
 'Electric',
 'Ice',
 'Normal',
 'Fairy',
 'Psychic',
 'Poison',
 'Grass',
 'Water',
 nan,
 'Rock',
 'Bug',
 'Ghost',
 'Fire',
 'Steel']

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [12]:
[e for e in poke.name.unique() if 'Mega' in e]

['VenusaurMega Venusaur',
 'CharizardMega Charizard X',
 'CharizardMega Charizard Y',
 'BlastoiseMega Blastoise',
 'BeedrillMega Beedrill',
 'PidgeotMega Pidgeot',
 'AlakazamMega Alakazam',
 'SlowbroMega Slowbro',
 'GengarMega Gengar',
 'KangaskhanMega Kangaskhan',
 'PinsirMega Pinsir',
 'GyaradosMega Gyarados',
 'AerodactylMega Aerodactyl',
 'MewtwoMega Mewtwo X',
 'MewtwoMega Mewtwo Y',
 'Meganium',
 'AmpharosMega Ampharos',
 'SteelixMega Steelix',
 'ScizorMega Scizor',
 'HeracrossMega Heracross',
 'HoundoomMega Houndoom',
 'TyranitarMega Tyranitar',
 'SceptileMega Sceptile',
 'BlazikenMega Blaziken',
 'SwampertMega Swampert',
 'GardevoirMega Gardevoir',
 'SableyeMega Sableye',
 'MawileMega Mawile',
 'AggronMega Aggron',
 'MedichamMega Medicham',
 'ManectricMega Manectric',
 'SharpedoMega Sharpedo',
 'CameruptMega Camerupt',
 'AltariaMega Altaria',
 'BanetteMega Banette',
 'AbsolMega Absol',
 'GlalieMega Glalie',
 'SalamenceMega Salamence',
 'MetagrossMega Metagross',
 'LatiasMega Latias',
 'LatiosMega Latios',
 'RayquazaMega Rayquaza',
 'LopunnyMega Lopunny',
 'GarchompMega Garchomp',
 'LucarioMega Lucario',
 'AbomasnowMega Abomasnow',
 'GalladeMega Gallade',
 'AudinoMega Audino',
 'DiancieMega Diancie']

In [13]:
def cambiar_nombre(s):
    
    if 'Mega ' in s:
              
        s = s.split('Mega ')[1]

        
        s = 'Mega ' + s
        
        return s
    
    else:
        
        return s

In [14]:

[e for e in poke.name.apply(cambiar_nombre).unique() if 'Mega' in e]

['Mega Venusaur',
 'Mega Charizard X',
 'Mega Charizard Y',
 'Mega Blastoise',
 'Mega Beedrill',
 'Mega Pidgeot',
 'Mega Alakazam',
 'Mega Slowbro',
 'Mega Gengar',
 'Mega Kangaskhan',
 'Mega Pinsir',
 'Mega Gyarados',
 'Mega Aerodactyl',
 'Mega Mewtwo X',
 'Mega Mewtwo Y',
 'Meganium',
 'Mega Ampharos',
 'Mega Steelix',
 'Mega Scizor',
 'Mega Heracross',
 'Mega Houndoom',
 'Mega Tyranitar',
 'Mega Sceptile',
 'Mega Blaziken',
 'Mega Swampert',
 'Mega Gardevoir',
 'Mega Sableye',
 'Mega Mawile',
 'Mega Aggron',
 'Mega Medicham',
 'Mega Manectric',
 'Mega Sharpedo',
 'Mega Camerupt',
 'Mega Altaria',
 'Mega Banette',
 'Mega Absol',
 'Mega Glalie',
 'Mega Salamence',
 'Mega Metagross',
 'Mega Latias',
 'Mega Latios',
 'Mega Rayquaza',
 'Mega Lopunny',
 'Mega Garchomp',
 'Mega Lucario',
 'Mega Abomasnow',
 'Mega Gallade',
 'Mega Audino',
 'Mega Diancie']

In [15]:
poke.name = poke.name.apply(cambiar_nombre)

In [16]:
[e for e in poke.name.unique() if 'Mega' in e]

['Mega Venusaur',
 'Mega Charizard X',
 'Mega Charizard Y',
 'Mega Blastoise',
 'Mega Beedrill',
 'Mega Pidgeot',
 'Mega Alakazam',
 'Mega Slowbro',
 'Mega Gengar',
 'Mega Kangaskhan',
 'Mega Pinsir',
 'Mega Gyarados',
 'Mega Aerodactyl',
 'Mega Mewtwo X',
 'Mega Mewtwo Y',
 'Meganium',
 'Mega Ampharos',
 'Mega Steelix',
 'Mega Scizor',
 'Mega Heracross',
 'Mega Houndoom',
 'Mega Tyranitar',
 'Mega Sceptile',
 'Mega Blaziken',
 'Mega Swampert',
 'Mega Gardevoir',
 'Mega Sableye',
 'Mega Mawile',
 'Mega Aggron',
 'Mega Medicham',
 'Mega Manectric',
 'Mega Sharpedo',
 'Mega Camerupt',
 'Mega Altaria',
 'Mega Banette',
 'Mega Absol',
 'Mega Glalie',
 'Mega Salamence',
 'Mega Metagross',
 'Mega Latias',
 'Mega Latios',
 'Mega Rayquaza',
 'Mega Lopunny',
 'Mega Garchomp',
 'Mega Lucario',
 'Mega Abomasnow',
 'Mega Gallade',
 'Mega Audino',
 'Mega Diancie']

In [20]:
re.sub('\w+Mega', 'Mega', 'TyrMega Tyranitar')

'Mega Tyranitar'

In [21]:
poke.name = poke.name.apply(lambda s: re.sub('\w+Mega', 'Mega', s))

In [22]:

[e for e in poke.name.unique() if 'Mega' in e]

['Mega Venusaur',
 'Mega Charizard X',
 'Mega Charizard Y',
 'Mega Blastoise',
 'Mega Beedrill',
 'Mega Pidgeot',
 'Mega Alakazam',
 'Mega Slowbro',
 'Mega Gengar',
 'Mega Kangaskhan',
 'Mega Pinsir',
 'Mega Gyarados',
 'Mega Aerodactyl',
 'Mega Mewtwo X',
 'Mega Mewtwo Y',
 'Meganium',
 'Mega Ampharos',
 'Mega Steelix',
 'Mega Scizor',
 'Mega Heracross',
 'Mega Houndoom',
 'Mega Tyranitar',
 'Mega Sceptile',
 'Mega Blaziken',
 'Mega Swampert',
 'Mega Gardevoir',
 'Mega Sableye',
 'Mega Mawile',
 'Mega Aggron',
 'Mega Medicham',
 'Mega Manectric',
 'Mega Sharpedo',
 'Mega Camerupt',
 'Mega Altaria',
 'Mega Banette',
 'Mega Absol',
 'Mega Glalie',
 'Mega Salamence',
 'Mega Metagross',
 'Mega Latias',
 'Mega Latios',
 'Mega Rayquaza',
 'Mega Lopunny',
 'Mega Garchomp',
 'Mega Lucario',
 'Mega Abomasnow',
 'Mega Gallade',
 'Mega Audino',
 'Mega Diancie']

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [23]:
poke['A/D Ratio'] = poke.attack / poke.defense

In [24]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302

#### Identify the pokemon with the highest `A/D Ratio`.

In [25]:
#o poke[poke['A/D Ratio']==poke['A/D Ratio'].max()]
poke.sort_values(by='A/D Ratio', ascending=False).head(1)

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [26]:
#o poke[poke['A/D Ratio']==poke['A/D Ratio'].min()]
poke.sort_values(by='A/D Ratio').head(1)

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [27]:
type(poke.loc[4].type_2)

float

In [28]:

poke.type_2 = poke.type_2.apply(str)

In [29]:
type(poke.loc[4].type_2)

str

In [30]:
poke['Combo_Type'] = poke.type_1 + '-' + poke.type_2

In [31]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo_Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,nan,309,39,52,43,60,50,65,1,False,1.209302,Fire-nan

In [32]:

poke['Combo_Type'].apply(lambda s: s.replace('-nan', ''))

0       Grass-Poison
1       Grass-Poison
2       Grass-Poison
3       Grass-Poison
4               Fire
           ...
795       Rock-Fairy
796       Rock-Fairy
797    Psychic-Ghost
798     Psychic-Dark
799       Fire-Water
Name: Combo_Type, Length: 800, dtype: object

In [33]:
poke[poke.type_2.isna()].type_1

Series([], Name: type_1, dtype: object)

In [34]:
poke[poke.type_2.isna()]['Combo_Type']

Series([], Name: Combo_Type, dtype: object)

In [35]:
poke[poke.type_2.isna()].index

Index([], dtype='int64')

In [36]:
poke[poke.type_2.isna()]['Combo_Type'] = poke[poke.type_2.isna()].type_1

In [37]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo_Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,nan,309,39,52,43,60,50,65,1,False,1.209302,Fire-nan

In [38]:
poke.loc[1, 'Combo_Type']

'Grass-Poison'

In [39]:
poke.loc[poke[poke.type_2.isna()].index, 'Combo_Type'] = poke[poke.type_2.isna()].type_1

In [40]:
poke.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo_Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,nan,309,39,52,43,60,50,65,1,False,1.209302,Fire-nan

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [41]:
poke.sort_values(by='A/D Ratio', ascending=False).head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo_Type
429,386,DeoxysAttack Forme,Psychic,nan,600,50,180,20,180,20,150,3,True,9.000,Psychic-nan
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,nan,350,67,125,40,30,30,58,4,False,3.125,Rock-nan
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [42]:

poke.sort_values(by='A/D Ratio', ascending=False).head()['Combo_Type']

429    Psychic-nan
347     Water-Dark
19      Bug-Poison
453       Rock-nan
348     Water-Dark
Name: Combo_Type, dtype: object

In [43]:

poke.sort_values(by='A/D Ratio', ascending=False).head()

,#,name,type_1,type_2,total,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary,A/D Ratio,Combo_Type
429,386,DeoxysAttack Forme,Psychic,nan,600,50,180,20,180,20,150,3,True,9.000,Psychic-nan
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,nan,350,67,125,40,30,30,58,4,False,3.125,Rock-nan
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [45]:
poke.groupby('Combo_Type').mean().head()

TypeError: Could not convert JoltikGalvantula to numeric